data/applications/**/*.pt filter=lfs diff=lfs merge=lfs -text
data/applications/roitman_data_clean.csv filter=lfs diff=lfs merge=lfs -text
data/applications/cxr/real/ChestXRay[[:space:]]Fibrosis(354).png filter=lfs diff=lfs merge=lfs -text
data/applications/cxr/sd/CXR-F-3000_ChestXRay[[:space:]]No[[:space:]]Finding_8230256665702590.png filter=lfs diff=lfs merge=lfs -text
data/applications/cxr/gan/image_16.png filter=lfs diff=lfs merge=lfs -text
data/applications/cxr/gan/image_51.png filter=lfs diff=lfs merge=lfs -text
data/applications/cxr/real/ChestXRay[[:space:]]Effusion(420).png filter=lfs diff=lfs merge=lfs -text
data/applications/cxr/sd/CXR-F-3000_ChestXRay[[:space:]]Pneumothorax_4393913345190889.png filter=lfs diff=lfs merge=lfs -text
data/applications/cxr/real/ChestXRay[[:space:]]Atelectasis[[:space:]]Emphysema(33).png filter=lfs diff=lfs merge=lfs -text
data/applications/cxr/real/ChestXRay[[:space:]]No[[:space:]]Finding(31015).png filter=lfs diff=lfs merge=lfs -text
data/applications/cxr/sd/CXR-F-3000_ChestXRay[[:space:]]No[[:space:]]Finding_2497489133216072.png filter=lfs diff=lfs merge=lfs -text
data/applications/cxr/sd/CXR-F-3000_ChestXRay[[:space:]]No[[:space:]]Finding_5136659941619265.png filter=lfs diff=lfs merge=lfs -text
data/applications/cxr/sd/CXR-F-3000_ChestXRay[[:space:]]Pneumonia_882473709848962.png filter=lfs diff=lfs merge=lfs -text
data/applications/cxr/gan/image_91.png filter=lfs diff=lfs merge=lfs -text
data/applications/cxr/real/ChestXRay[[:space:]]No[[:space:]]Finding(9672).png filter=lfs diff=lfs merge=lfs -text
data/applications/cxr/real/ChestXRay[[:space:]]Nodule(1319).png filter=lfs diff=lfs merge=lfs -text
data/applications/cxr/real/ChestXRay[[:space:]]Nodule(632).png filter=lfs diff=lfs merge=lfs -text
data/applications/cxr/gan/image_105.png filter=lfs diff=lfs merge=lfs -text
data/applications/cxr/gan/image_14.png filter=lfs diff=lfs merge=lfs -text
data/applications/cxr/real/ChestXRay[[:space:]]No[[:space:]]Finding(23648).png filter=lfs diff=lfs merge=lfs -text
data/applications/cxr/sd/CXR-F-3000_ChestXRay[[:space:]]No[[:space:]]Finding_1358946767253453.png filter=lfs diff=lfs merge=lfs -text
data/applications/cxr/sd/CXR-F-3000_ChestXRay[[:space:]]No[[:space:]]Finding_5607781897980469.png filter=lfs diff=lfs merge=lfs -text
data/applications/cxr/gan/image_42.png filter=lfs diff=lfs merge=lfs -text
data/applications/cxr/gan/image_73.png filter=lfs diff=lfs merge=lfs -text
data/applications/cxr/real/ChestXRay[[:space:]]No[[:space:]]Finding(13148).png filter=lfs diff=lfs merge=lfs -text
data/applications/cxr/real/ChestXRay[[:space:]]No[[:space:]]Finding(29940).png filter=lfs diff=lfs merge=lfs -text
data/applications/cxr/sd/CXR-F-3000_ChestXRay[[:space:]]Pneumonia_8865862005915204.png filter=lfs diff=lfs merge=lfs -text
data/applications/cxr/gan/image_63.png filter=lfs diff=lfs merge=lfs -text
data/applications/cxr/gan/image_64.png filter=lfs diff=lfs merge=lfs -text
data/applications/cxr/sd/CXR-F-3000_ChestXRay[[:space:]]Edema_6107606052013594.png filter=lfs diff=lfs merge=lfs -text
data/applications/cxr/sd/CXR-F-3000_ChestXRay[[:space:]]No[[:space:]]Finding_7190619533063244.png filter=lfs diff=lfs merge=lfs -text
